vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/firebase/php-jwt/composer.json
vendor/firebase/php-jwt/LICENSE
vendor/firebase/php-jwt/README.md
vendor/firebase/php-jwt/src/BeforeValidException.php
vendor/firebase/php-jwt/src/ExpiredException.php
vendor/firebase/php-jwt/src/JWK.php
vendor/firebase/php-jwt/src/JWT.php
vendor/firebase/php-jwt/src/SignatureInvalidException.php
